custom_components/**
www/community/**
.storage/**

.google_maps_location_sharing.cookies*
.ps4-games*.json
.ps4-wake.credentials.json
.uuid
harmony_*.conf
home-assistant.log*
home-assistant_v2.db*
zigbee.db*
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
options.xml
phue*.conf
pyozw.sqlite
secrets.yaml
zw*.xml
www/rss
.HA_VERSION
*.log
.ha_run.lock
